<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="V1" connectionString="Server=.; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="V2" connectionString="Server=.; Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <add name="Output" connectionString="Server=.; Trusted_Connection=True;Database=SFA.DAS.Payments.Verification" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="payments.schema.prefix" value="" />
    <add key="payments.database.name" value="DAS_PeriodEnd" />
    <add key="earnings.database.name" value="DS_SILR1819_Collection" />
    <add key="v2.payments.database.name" value="SFA.DAS.Payments.Database" />
    <add key="ukprn.list" value="0" />
    <add key="period.list" value="1,2,3,4,5,6,7,8,9,10,11,12" />
    <add key="delivery.period.list" value="1,2,3,4,5,6,7,8,9,10,11,12" />
  </appSettings>
  <runtime>
    <gcAllowVeryLargeObjects enabled="true" />
  </runtime>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>