<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DasConnectionString" connectionString="bobby" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="DcConnectionString" connectionString="bob" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <appSettings>
    <add key="OutputPath" value="." />
  </appSettings>
</configuration>