<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DasConnectionString" connectionString=""  />
    <add name="JobManagementConnectionString" connectionString=""  />
    <add name="DcConnectionString" connectionString="" />
  </connectionStrings>
  <appSettings>
    <add key="OutputPath" value="." />
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
</configuration>