<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 

  <connectionStrings>
    <add name="DAS_PeriodEnd" connectionString="Server=.; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="DS_SILR1819_Collection" connectionString="Server=.; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="DasPayments" connectionString="Server=.; Trusted_Connection=True;Database=SFA.DAS.Payments.Verification" providerName="System.Data.SqlClient"/>
    <add name="ILR1920DataStore" connectionString="Server=.; Trusted_Connection=True;Database=SFA.DAS.Payments.Verification" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

  <appSettings>
   
  </appSettings>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
</configuration>