<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="V1" connectionString="Server=.; Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
    <add name="V1Commitments" connectionString="Server=.; Trusted_Connection=True;Database=Das_CommitmentsReferenceData" providerName="System.Data.SqlClient"/>
    <add name="V1Accounts" connectionString="Server=.; Trusted_Connection=True;Database=Das_AccountsReferenceData" providerName="System.Data.SqlClient"/>
    <add name="Output" connectionString="Server=.; Trusted_Connection=True;Database=SFA.DAS.Payments.Verification" providerName="System.Data.SqlClient"/>
    <add name="V2" connectionString="Server=.; Trusted_Connection=True;Database=SFA.DAS.Payments.Database" providerName="System.Data.SqlClient"/>
    <add name="DasCommitments" connectionString="Server=.;Database=SFA.DAS.Commitments" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
   </startup>

  <appSettings>
    <add key="payments.schema.prefix" value="R08-"/>
    <add key="payments.database.name" value="DASPayments"/>
    <add key="earnings.database.name" value="ILR1819DataStore"/>
    <add key="v2.payments.database.name" value="DASPayments"/>
    <add key="periodsToIgnore" value="1,2,3,4,5,6,7"/>
  </appSettings>

  <runtime>
    <gcAllowVeryLargeObjects enabled="true"/>
  </runtime>
</configuration>
